[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
gunicorn = "*"
django-on-heroku = "*"
dj-rest-auth = {extras = ["with_social"], version = "*"}
djangorestframework-simplejwt = "*"
django-photologue = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
